<script>
    var count = 2;
    vm.customers = [];

    vm.showModal = showModal;
    vm.onSave = onSave;
    makeModal();

    function makeModal() {
        $ionicModal.fromTemplateUrl('app/components/customer/qr_read/make_customer.html', {
            scope: $scope,
            backdropClickToClose: false,
            hardwareBackButtonClose: false
        }).then(function (modal) {
            vm.modal = modal;
        });
    }

    function showModal(index) {
        vm.id = index;
        vm.customer = vm.customers[index] ? angular.copy(vm.customers[index]) : {};

        vm.modal.show();
    }

    function onSave(index) {
        vm.customers[index] = vm.customer;
        vm.modal.hide();
    }
</script>

<button ng-click="VendorQrMakeVm.showModal(0)">open</button>
<button ng-click="VendorQrMakeVm.showModal(1)">open</button>

<ion-modal-view>
    <ion-header-bar align-title="center" class="bar-royal">
        <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <form novalidate id="myForm" name="myForm">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="VendorQrMakeVm.customer.email" placeholder="Enter Here" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Telp</span>
                    <input type="text" ng-model="VendorQrMakeVm.customer.telp" placeholder="Enter Here" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" ng-model="VendorQrMakeVm.customer.password" placeholder="Enter Here" required>
                </label>
            </div>
        </form>
    </ion-content>
    <div class="bar bar-footer">
        <button class="button button-assertive" ng-click="VendorQrMakeVm.modal.hide()">Cancel</button>
        <button class="button button-positive" ng-click="VendorQrMakeVm.onSave(VendorQrMakeVm.id)">Submit</button>
    </div>
</ion-modal-view>