<script>
    var count = 2;
    vm.customers = [];

    vm.showPopup = showPopup;

    function showPopup(index) {
        vm.id = index;
        vm.customer = vm.customers[index] ? angular.copy(vm.customers[index]) : {};

        $ionicPopup.show({
            templateUrl: 'app/components/customer/qr_read/make_customer.html',
            title: 'Enter Wi-Fi Password',
            subTitle: 'Please use normal things',
            scope: $scope,
            buttons: [
                {text: 'Cancel', type: 'button-assertive'},
                {
                    text: '<b>Save</b>', type: 'button-positive',
                    onTap: function (e) {
                        !vm.myForm.$valid ? onCancel(e) : onSave(index);
                    }
                }
            ]
        });
    }

    function onCancel(e) {
        e.preventDefault();
    }

    function onSave(index) {
        vm.customers[index] = vm.customer;
    }
</script>

<button ng-click="VendorQrMakeVm.showPopup(0)">open</button>
<button ng-click="VendorQrMakeVm.showPopup(1)">open</button>

<form novalidate id="VendorQrMakeVm.myForm" name="VendorQrMakeVm.myForm">
    <div class="list">
        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" ng-model="VendorQrMakeVm.customer.email" placeholder="Enter Here" required>
        </label>
        <label class="item item-input">
            <span class="input-label">Telp</span>
            <input type="text" ng-model="VendorQrMakeVm.customer.telp" placeholder="Enter Here" required>
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="text" ng-model="VendorQrMakeVm.customer.password" placeholder="Enter Here" required>
        </label>
    </div>
</form>